
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Layout/_Mainpage.cshtml";
}

<div class="cart-null">
    <div class="cart-null-logo">
        <i class="fa-solid fa-check"></i>
        <h2 style="margin-bottom: 20px;">Giỏ hàng đang rỗng</h2>
        <span style="margin-top: 26px;"><a href="~/Home/Index">MUA SẮM NGAY</a></span>
        <br />
        <a href="~/Home/Index" class="cart-rong"><ion-icon name="cart-outline"></ion-icon></a>
    </div>
</div>

<style>
    ion-icon{
        font-size: 100px;
        color: #333;
        margin-left: 5.5rem;
        margin-top: 1rem;
    }
</style>
